@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.window {
	background: linear-gradient(
		180deg,
		rgba(228, 241, 247, 1) 0%,
		rgba(255, 255, 255, 1) 50%,
		#c4e3f0 100%
	);
	width: 100vw;
	height: 100vh;
}

.background {
	position: relative;
	height: 82px;
	width: 100%;
	box-shadow: inset 0px 22px 5px -20px rgba(0, 0, 0, 0.438);
}

.bgImage {
	background: url(@renderer/assets/login/bg-top.png), #3dafe4;
	background-position: top left;
	background-size:
		100% 100%,
		100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
}

.paper {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}

.divider {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.75) 26%,
		rgba(255, 255, 255, 1) 41%,
		rgba(255, 255, 255, 1) 57%,
		rgba(255, 255, 255, 0.7477064220183487) 70%,
		rgba(255, 255, 255, 0) 100%
	);
	height: 1px;
	width: 100%;
	filter: drop-shadow(0px 2px 1px rgba(37, 91, 116, 0.459));
	margin-bottom: 6px;
}

.buttons {
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons button {
	width: fit-content;
}

.topInfo {
	display: flex;
	align-items: center;
	position: relative;
}

.userInfo {
	margin-top: -12px;
	margin-left: 4px;
	width: calc(100% - 150px);
}

.mail {
	padding: 0 !important;
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.usernameContainer {
	border-radius: 2px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 24px;
	padding: 0px 4px 4px 4px;
	margin-left: -4px;
	max-width: fit-content;
}

.usernameContainer:hover {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.39220183486238536) 45%,
		rgba(152, 183, 216, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 0px 1px #fff;
	outline: solid thin #6092a9;
}

.usernameContainer:active,
.usernameContainer[data-toggled="true"] {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(189, 189, 189, 0.392) 45%,
		rgba(93, 122, 153, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 6px 0px #0000008e;
	outline: solid thin #475257;
}

.usernameContainer > img {
	margin-left: 12px;
	margin-top: 4px;
}

.username {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-shadow:
		0px 0px 3px rgb(255, 255, 255),
		0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
}

.usernameStatus {
	margin-left: 8px;
}

.message {
	color: #333333;
	margin-top: 2px;
	transform: translateX(-2px);
	padding-left: 2px;
	max-width: 100%;
	width: fit-content;
	border-radius: 2px;
	cursor: default;
}

.message > input {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: none;
	border: none;
	outline: none;
	text-shadow:
		0px 0px 3px rgb(255, 255, 255),
		0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
}

.message:hover,
.message:has(input:focus) {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.39220183486238536) 45%,
		rgba(152, 183, 216, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 0px 1px #fff;
	outline: solid thin #6092a9;
}

.message:focus {
	text-overflow: clip;
}

.message:empty::before {
	content: attr(data-placeholder);
	color: #444;
}

.message > input::selection {
	text-shadow: none;
}

.contextMenuDivider {
	padding: 0px 2px;
	height: 2px;
	background: linear-gradient(to bottom, #a0a0a0 50%, #ffffff 50%);
	width: calc(100% - 4px);
	margin-top: 2px;
	margin-bottom: 1px;
}

.contextMenuContainer {
	box-sizing: border-box;
	padding: 2px;
	width: 100vw;
	height: 100vh;
}

.modernOutline {
	display: none;
}

.contextMenuContainer.MODERN > .contextMenu > .modernOutline {
	display: block;
	background: linear-gradient(to right, #e2e3e3 50%, #ffffff 50%);
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 28px;
}

.contextMenuContainer.MODERN > .contextMenu > .contextMenuDivider {
	background: linear-gradient(to bottom, #e2e3e3 50%, #ffffff 50%);
	width: calc(100% - 26px);
	height: 2px;
	margin-top: 2px;
	margin-left: 25px;
}

.contextMenuContainer.MODERN > .contextMenu > .contextMenuItem {
	border-radius: 2px;
	height: 20px;
}

.contextMenuContainer.MODERN
	> .contextMenu
	> .contextMenuItem:not(:first-child) {
	margin-top: 2px;
}

.contextMenuContainer.MODERN > .contextMenu > .contextMenuItem:hover {
	outline: solid thin #aecff7;
	box-shadow: inset 0px 0px 0px 1px #ffffff80;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.25) 0%,
		rgba(204, 225, 255, 0.25) 100%
	);
	color: black;
}

.contextMenuContainer.MODERN > .contextMenu {
	--padding: 3px;
	padding: calc(var(--padding) - 2px) var(--padding) calc(var(--padding) - 1px)
		var(--padding);
}

.contextMenu {
	width: 200px;
	height: fit-content;
	position: absolute;
	background-color: #f0f0f0;
	z-index: 9999999;
	outline: solid thin #a0a0a0;
	box-shadow: 6px 6px 4px -2px #00000085;
	box-sizing: border-box;
	padding: 2px;
}

.nameContextMenu {
	margin-top: 26px;
	margin-left: -4px;
}

.contextMenuItem {
	height: 20px;
	margin-bottom: 1px;
	display: flex;
	align-items: center;
	font-size: 12px;
	box-sizing: border-box;
	padding-bottom: 1px;
	position: relative;
}

.contextMenuItem:hover {
	background-color: #3399ff;
	color: #fff;
}

.contextMenuText {
	position: absolute;
	left: 24px;
}

.contextMenuContainer.MODERN
	> .contextMenu
	> .contextMenuItem
	> .contextMenuText {
	left: 32px;
}

.contextMenuIconContainer {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	height: calc(100% - 180px);
}

.padded {
	position: relative;
}

.padded > h1 {
	margin-left: 12px;
	margin-bottom: 0;
}

.searchContainer {
	height: 30px;
	/* width: calc(100% - 90px); */
	padding: 0px 12px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
}

.searchButtons {
	margin-left: 6px;
	margin-right: -6px;
	display: flex;
	gap: 4px;
}

.search {
	height: 100%;
	width: 100%;
	border-radius: 4px;
	border: solid thin #bbc8d9;
	background-color: #f4f9fc;
	box-shadow: inset 0px 0px 5px 0px #00000026;
	box-sizing: border-box;
	outline: none;
	font-size: 12px;
	padding: 8px 28px 10px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search::placeholder {
	color: #89a1c2;
}

.search:hover,
.search:focus {
	border: solid thin #1486ff;
	background-color: #fff;
}

.search:hover {
	cursor: default;
}

.search:focus {
	cursor: text;
}

.search:focus::placeholder {
	color: transparent;
}

.search:valid {
	background-color: #fff;
	border: solid thin #1486ff;
	box-shadow:
		inset 0px 0px 5px 0px #00000026,
		0px 0px 4px 0px #4493fce3;
}

.contacts {
	overflow-y: auto;
	width: 100%;
	box-sizing: border-box;
	height: calc(100% - 8px);
	margin-top: 8px;
	padding: 0px 8px 0px 8px;
	position: relative;
	flex: none;
	display: block;

	--mask: linear-gradient(
		transparent,
		black 12px,
		black calc(100% - 12px),
		transparent 100%
	);
	mask-image: var(--mask), linear-gradient(black, black);
	-webkit-mask-image: var(--mask), linear-gradient(black, black);
	-webkit-mask-size:
		calc(100% - 16px) 100%,
		18px 100%;
	mask-size:
		calc(100% - 16px) 100%,
		18px 100%;
	-webkit-mask-position:
		0 0,
		100% 0;
	mask-position:
		0 0,
		100% 0;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.contact {
	height: 44px;
	display: flex;
	align-items: center;
	width: calc(100% + 40px);
	margin-left: -12px;
	border-radius: 4px;
	margin-top: 4px;
	box-sizing: border-box;
	padding: 0px 8px;
}

.contactInfo {
	margin-bottom: 4px;
	width: calc(100% - 48px);
	margin-left: 2px;
}

.contactStatus {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color: #888888;
}

.contact:first-child {
	margin-top: 8px;
}

.contact:hover {
	outline: solid thin #b7e7fc;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(182, 228, 255, 0.5) 100%
	);
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

.contact.selected {
	background: linear-gradient(
		180deg,
		rgba(228, 244, 255, 0.5) 0%,
		#d6f0fd 100%
	);
	outline: solid thin #9adffe;
}

.contact.selected:hover {
	background: linear-gradient(180deg, #e9f7fe 0%, #c5e9fb 100%);
}

.contactUsername {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.searchInfo {
	align-self: flex-start;
	padding: 0px 10px;
	word-wrap: break-word;
	line-break: anywhere;
}

.searchInfo > a {
	margin-left: 16px;
}

.statusInput {
	height: 32px;
}

.ad {
	max-width: 234px;
	width: 100%;
	height: 60px;
	max-height: 60px;
	min-height: 60px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
	flex: none;
	margin-bottom: 10px;
	margin-left: 10px;
	border: solid thin black;
}

.contactsContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 0px;
}

.dividerAlt {
	height: 1px;
	width: 100vw;
	background-color: #fffeff;
	flex: none;
	background-image: none !important;
	margin-bottom: 16px;
	margin-top: 0px;
	box-shadow: 0 2px 4px 0px rgba(64, 82, 91, 0.75);
}

.customStatus img {
	vertical-align: middle;
	margin-bottom: 2px;
	max-width: 14px;
	max-height: 14px;
	width: auto;
	height: auto;
}

.customStatus span ~ span {
	margin-left: 4px;
}

.dropdown {
	width: 100%;
}

.dropdownContent {
	display: none;
	z-index: 9999999;
	width: calc(100% - 18px);
	box-sizing: border-box;
	padding: 0px 12px;
}

.dropdownHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 8px;
}

.dropdownArrow {
	background-image: url(@renderer/assets/ui-elements/dropdown/closed.png);
	width: 13px;
	height: 16px;
	margin-top: 2px;
}

.dropdownArrow[data-toggled="true"] {
	background-image: url(@renderer/assets/ui-elements/dropdown/open.png);
}

.dropdownHeader:hover > .dropdownArrow {
	background-image: url(@renderer/assets/ui-elements/dropdown/closed-hover.png);
}

.dropdownHeader:hover > .dropdownArrow[data-toggled="true"] {
	background-image: url(@renderer/assets/ui-elements/dropdown/open-hover.png);
}

.dropdownContent[data-toggled="true"] {
	display: block;
}

.dropdownHeader > h1 {
	margin-bottom: -2px;
	margin-left: 4px;
	width: calc(100% - 32px);
	margin-top: 0;
	font-size: 12pt;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown:last-child {
	margin-bottom: 12px;
}

.dropdownInfo {
	opacity: 0.4;
	margin-top: 2px;
	margin-left: -1px;
}

.notificationContainer {
	width: calc(100% - 2px);
	box-sizing: border-box;
	padding: 4px;
}

.notification {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 4px;
	text-shadow: 0px 0px 0.5px #0000003e;
	border-radius: 4px;
	margin-top: 2px;
	margin-bottom: -8px;
	position: relative;
}

.notification.info {
	border: solid thin #c7d9e4;
	background: linear-gradient(to bottom, #f8fbff, #eef8ff);
}

.notification.warning {
	border: solid thin #e3e4c7;
	background: linear-gradient(to bottom, #ffffc9, #fdffc3);
}

.notification.error {
	border: solid thin #e4c7c7;
	background: linear-gradient(to bottom, #ffe0e0, #fdc6c6);
}

.notification > .icon {
	margin-right: 6px;
	height: fit-content;
}

.notification > .close {
	margin-left: auto;
	margin-right: -4px;
}

.notification > .close {
	background-image: url("@renderer/assets/contact-card/close.png");
	width: 12px;
	height: 12px;
	filter: brightness(0.7);
	position: absolute;
	top: 4px;
	right: 12px;
}

.notification > .close:hover {
	filter: brightness(1);
	background-image: url("@renderer/assets/contact-card/close-hover.png");
}

.notification > .contentContainer {
	width: calc(100% - 36px);
	height: 100%;
	display: table;
}

.contentContainer > span {
	display: table-cell;
	vertical-align: middle;
}

.imageButton {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	padding: 4px;
}

.imageButton * {
	-webkit-user-drag: none;
}

.imageButton:active,
.imageButton:hover {
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
	outline: solid thin rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.5),
		rgba(203, 203, 203, 0.5),
		rgba(255, 255, 255, 0.5)
	);
}

.imageButton:hover:active {
	box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
	outline: solid thin #4e5356;
	background: none;
}

.bottom {
	margin-bottom: -88px;
	display: flex;
	flex-direction: column;
}

.newsWidget {
	box-sizing: border-box;
	padding: 8px 16px;
	padding-bottom: 4px;
	max-height: 84px;
	overflow: hidden;
	overflow-y: auto;
	--mask: linear-gradient(
		transparent,
		black 18px,
		black calc(100% - 18px),
		transparent 100%
	);
	mask-image: var(--mask), linear-gradient(black, black);
	-webkit-mask-image: var(--mask), linear-gradient(black, black);
	-webkit-mask-size:
		calc(100% - 16px) 100%,
		18px 100%;
	mask-size:
		calc(100% - 16px) 100%,
		18px 100%;
	-webkit-mask-position:
		0 0,
		100% 0;
	mask-position:
		0 0,
		100% 0;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.newsWidget > h1 {
	color: #355a88;
	margin: 0;
}

.newsWidget > p {
	margin-top: 4px;
}

.aboveAd {
	filter: saturate(0.8) brightness(1.1);
	margin-bottom: 6px;
	box-sizing: border-box;
	padding: 8px 12px;
	margin-top: -8px;
	display: flex;
	gap: 8px;
}
