.window {
	background: linear-gradient(
		180deg,
		rgba(228, 241, 247, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	width: 100vw;
	height: 100vh;
}

.window h1 {
	color: #003399;
	font-weight: normal;
	font-size: 12pt;
}

.background {
	height: 82px;
	width: 100%;
	background: url(@renderer/assets/login/bg-top.png), #3dafe4;
	background-position: top left;
	background-size:
		100% 100%,
		100% 100%;
	box-shadow: inset 0px 22px 5px -20px rgba(0, 0, 0, 0.438);
}

.paper {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}

.divider {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.75) 26%,
		rgba(255, 255, 255, 1) 41%,
		rgba(255, 255, 255, 1) 57%,
		rgba(255, 255, 255, 0.7477064220183487) 70%,
		rgba(255, 255, 255, 0) 100%
	);
	height: 1px;
	width: 100%;
	filter: drop-shadow(0px 2px 1px rgba(37, 91, 116, 0.459));
	margin-bottom: 6px;
}

.buttons {
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons button {
	width: fit-content;
}

.topInfo {
	display: flex;
	align-items: center;
}

.userInfo {
	margin-top: -12px;
	margin-left: 4px;
	width: calc(100% - 150px);
}

.usernameContainer {
	border-radius: 2px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 24px;
	padding: 0px 4px 4px 4px;
	margin-left: -4px;
	max-width: fit-content;
}

.usernameContainer:hover {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.39220183486238536) 45%,
		rgba(152, 183, 216, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 0px 1px #fff;
	outline: solid thin #6092a9;
}

.usernameContainer:active,
.usernameContainer[data-toggled="true"] {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(189, 189, 189, 0.392) 45%,
		rgba(93, 122, 153, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 6px 0px #0000008e;
	outline: solid thin #475257;
}

.usernameContainer > img {
	margin-left: 12px;
	margin-top: 4px;
}

.username {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-shadow:
		0px 0px 3px rgb(255, 255, 255),
		0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
}

.message {
	color: #333333;
	text-shadow:
		0px 0px 3px rgb(255, 255, 255),
		0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 8px;
	background: none;
	border: none;
	outline: none;
	padding: 0;
	width: 100%;
}

.message::selection {
	text-shadow: none;
}

.contextMenu {
	width: 268px;
	height: fit-content;
	position: absolute;
	background-color: #f0f0f0;
	z-index: 9999999;
	outline: solid thin #a0a0a0;
	box-shadow: 6px 6px 4px -2px #00000085;
	opacity: 0;
	box-sizing: border-box;
	padding: 2px;
}

.nameContextMenu {
	margin-top: 26px;
	margin-left: -4px;
}

.contextMenuItem {
	height: 20px;
	margin-bottom: 1px;
	display: flex;
	align-items: center;
	font-size: 12px;
	box-sizing: border-box;
	padding-bottom: 1px;
	position: relative;
}

.contextMenuItem:hover {
	background-color: #3399ff;
	color: #fff;
}

.contextMenuText {
	position: absolute;
	left: 24px;
}

.contextMenuIconContainer {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	height: calc(100% - 155px);
}

.padded {
	height: 100%;
}

.padded > h1 {
	margin-left: 12px;
}

.searchContainer {
	height: 30px;
	/* width: calc(100% - 90px); */
	padding: 0px 12px;
	box-sizing: border-box;
	width: 100%;
}

.search {
	height: 100%;
	width: 100%;
	border-radius: 4px;
	border: solid thin #bbc8d9;
	background-color: #f4f9fc;
	box-shadow: inset 0px 0px 5px 0px #00000026;
	box-sizing: border-box;
	outline: none;
	font-size: 12px;
	padding: 8px 28px 10px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search::placeholder {
	color: #89a1c2;
}

.search:hover,
.search:focus {
	border: solid thin #1486ff;
	background-color: #fff;
}

.search:hover {
	cursor: default;
}

.search:focus {
	cursor: text;
}

.search:focus::placeholder {
	color: transparent;
}

.search:valid {
	background-color: #fff;
	border: solid thin #1486ff;
	box-shadow:
		inset 0px 0px 5px 0px #00000026,
		0px 0px 4px 0px #4493fce3;
}

.contacts {
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	height: 100%;
	width: 100%;
	padding: 1px 16px;
	box-sizing: border-box;
	margin-top: -8px;
	position: relative;
}

.contact {
	height: 44px;
	display: flex;
	align-items: center;
	width: calc(100% - 6px);
	border-radius: 4px;
	min-height: 44px;
}

.contactInfo {
	margin-bottom: 4px;
	width: calc(100% - 48px);
	margin-left: 2px;
}

.contactStatus {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color: #888888;
}

.contact:hover {
	outline: solid thin #b7e7fc;
	background: linear-gradient(
		180deg,
		rgba(245, 245, 245, 0.554) 0%,
		#c5e7fb 100%
	);
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

.contactUsername {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.searchInfo {
	align-self: flex-start;
	padding: 0px 10px;
	word-wrap: break-word;
	line-break: anywhere;
}

.searchInfo > a {
	margin-left: 16px;
}

.statusInput {
	height: 32px;
}
