.container > h1:first-child {
	margin-top: 0;
}

.container {
	box-sizing: border-box;
	padding: 12px;
}

.container > *:not(kbd):not(h1) {
	margin-bottom: 8px;
}

.kbdContainer > kbd {
	margin-right: 4px;
	margin-bottom: 4px;
}

.kbdContainer {
	display: flex;
	flex-wrap: wrap;
}
