@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Light.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Italic.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Bold.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-BoldItalic.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-SemiBold.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* maddie (nullptr)'s cool ass native stuff below :3 */

body {
	margin: 0;
	overflow: hidden;
}

* {
	font-family: "Segoe UI", sans-serif;
	font-size: 9pt;
	user-select: none;
}

*::selection {
	background-color: #3399ff;
	color: white;
}

a {
	color: #0066cc;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

button {
	outline: none;
	border: solid thin #707070;
	border-radius: 4px;
	min-width: 60px;
	padding: 2px 12px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgba(221, 221, 221, 1) 40%,
		rgba(207, 207, 207, 1) 100%
	);
	position: relative;
	z-index: 1;
	transition: opacity 0.35s linear;
}

button:not(:disabled):hover {
	border: solid thin #3c7fb1;
}

button::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(234, 246, 253, 1) 0%,
		rgba(217, 240, 252, 1) 40%,
		rgba(190, 230, 253, 1) 40%,
		rgba(167, 217, 245, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.35s linear;
	opacity: 0;
	border-radius: 3px;
}
button:not(:disabled):hover::before {
	opacity: 1;
}

button::after {
	box-shadow: inset 0px 0px 0px 1px #95ade474;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(229, 244, 252, 1) 0%,
		rgba(196, 229, 246, 1) 40%,
		rgba(152, 209, 239, 1) 40%,
		rgba(104, 179, 219, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.1s linear;
	opacity: 0;
	border-radius: 3px;
}

button:not(:disabled):active::after {
	opacity: 1;
}

button:disabled {
	opacity: 0.8;
	color: #444;
	border: solid thin #999;
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgb(231, 231, 231) 40%,
		rgba(207, 220, 220, 1) 100%
	);
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: linear-gradient(
		90deg,
		rgba(228, 228, 228, 1) 0%,
		rgba(239, 239, 239, 1) 25%,
		rgba(244, 244, 244, 1) 100%
	);
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(245, 245, 245, 1) 0%,
			rgba(231, 231, 231, 1) 49%,
			rgba(215, 215, 218, 1) 50%,
			rgba(190, 191, 194, 1) 100%
		);
	border: solid thin #979797;
	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

::-webkit-scrollbar-thumb:vertical:hover {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(227, 244, 252, 1) 0%,
			rgba(214, 238, 251, 1) 49%,
			rgba(169, 219, 246, 1) 50%,
			rgba(156, 202, 227, 1) 100%
		);
}

::-webkit-scrollbar-thumb:vertical:active {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(202, 236, 249, 1) 0%,
			rgba(175, 225, 247, 1) 49%,
			rgba(111, 202, 240, 1) 50%,
			rgba(108, 196, 233, 1) 100%
		);
}

::-webkit-scrollbar-thumb:horizontal {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(245, 245, 245, 1) 0%,
			rgba(231, 231, 231, 1) 49%,
			rgba(215, 215, 218, 1) 50%,
			rgba(190, 191, 194, 1) 100%
		);
	border: solid thin #979797;
	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(227, 244, 252, 1) 0%,
			rgba(214, 238, 251, 1) 49%,
			rgba(169, 219, 246, 1) 50%,
			rgba(156, 202, 227, 1) 100%
		);
}

::-webkit-scrollbar-thumb:horizontal:active {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(202, 236, 249, 1) 0%,
			rgba(175, 225, 247, 1) 49%,
			rgba(111, 202, 240, 1) 50%,
			rgba(108, 196, 233, 1) 100%
		);
}
