@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Light.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Italic.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-Bold.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-BoldItalic.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI-SemiBold.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src:
		url("@renderer/assets/fonts/SegoeUI.woff2") format("woff2"),
		url("@renderer/assets/fonts/SegoeUI.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Logo";
	src: url("@renderer/assets/fonts/logos.ttf") format("truetype");
}

/* maddie (nullptr)'s cool ass native stuff below :3 */

body {
	margin: 0;
	overflow: hidden;
	--aero-white: #ffffff7a;
	--aero-black: #00000040;
	--aero-outline: 0px 0px 0px 1px var(--aero-black),
		inset 0px 0px 0px 1px var(--aero-white);
}

.lf-player-container {
	width: fit-content !important;
}

h1 {
	color: color-mix(in srgb, var(--accent), #000 40%);
	font-weight: normal;
	font-size: 12pt;
}

* {
	font-family: "Segoe UI", sans-serif;
	font-size: 9pt;
	user-select: none;
}

*::selection {
	background-color: #3399ff;
	color: white;
}

a {
	color: #0066cc;
	text-decoration: none;
	cursor: pointer !important;
}

a:hover {
	text-decoration: underline;
}

button {
	outline: none;
	border: solid thin #707070;
	border-radius: 4px;
	min-width: 60px;
	padding: 2px 12px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgba(221, 221, 221, 1) 40%,
		rgba(207, 207, 207, 1) 100%
	);
	position: relative;
	z-index: 1;
	transition: opacity 0.35s linear;
}

button:not(:disabled):hover {
	border: solid thin #3c7fb1;
}

button::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(234, 246, 253, 1) 0%,
		rgba(217, 240, 252, 1) 40%,
		rgba(190, 230, 253, 1) 40%,
		rgba(167, 217, 245, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.35s linear;
	opacity: 0;
	border-radius: 3px;
}
button:not(:disabled):hover::before {
	opacity: 1;
}

button::after {
	box-shadow: inset 0px 0px 0px 1px #95ade474;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(229, 244, 252, 1) 0%,
		rgba(196, 229, 246, 1) 40%,
		rgba(152, 209, 239, 1) 40%,
		rgba(104, 179, 219, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.1s linear;
	opacity: 0;
	border-radius: 3px;
}

button:not(:disabled):active::after {
	opacity: 1;
}

button:disabled {
	color: #c1c1c1;
	border: solid thin #999;
	box-shadow: inset 0px 0px 0px 1px #f8f8f8;
	background: #f0f0f0;
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: linear-gradient(
		90deg,
		rgba(228, 228, 228, 1) 0%,
		rgba(239, 239, 239, 1) 25%,
		rgba(244, 244, 244, 1) 100%
	);
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(245, 245, 245, 1) 0%,
			rgba(231, 231, 231, 1) 49%,
			rgba(215, 215, 218, 1) 50%,
			rgba(190, 191, 194, 1) 100%
		);
	border: solid thin #979797;
	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

::-webkit-scrollbar-thumb:vertical:hover {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(227, 244, 252, 1) 0%,
			rgba(214, 238, 251, 1) 49%,
			rgba(169, 219, 246, 1) 50%,
			rgba(156, 202, 227, 1) 100%
		);
}

::-webkit-scrollbar-thumb:vertical:active {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			90deg,
			rgba(202, 236, 249, 1) 0%,
			rgba(175, 225, 247, 1) 49%,
			rgba(111, 202, 240, 1) 50%,
			rgba(108, 196, 233, 1) 100%
		);
}

::-webkit-scrollbar-thumb:horizontal {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(245, 245, 245, 1) 0%,
			rgba(231, 231, 231, 1) 49%,
			rgba(215, 215, 218, 1) 50%,
			rgba(190, 191, 194, 1) 100%
		);
	border: solid thin #979797;
	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(227, 244, 252, 1) 0%,
			rgba(214, 238, 251, 1) 49%,
			rgba(169, 219, 246, 1) 50%,
			rgba(156, 202, 227, 1) 100%
		);
}

::-webkit-scrollbar-thumb:horizontal:active {
	background:
		url("@renderer/assets/window/scrollbar-track.png") center/9px 10px no-repeat,
		linear-gradient(
			180deg,
			rgba(202, 236, 249, 1) 0%,
			rgba(175, 225, 247, 1) 49%,
			rgba(111, 202, 240, 1) 50%,
			rgba(108, 196, 233, 1) 100%
		);
}

kbd {
	background: radial-gradient(
			50% 50% at bottom center,
			rgba(0, 153, 255, 0.958) 0%,
			rgba(28, 45, 174, 0) 100%
		),
		linear-gradient(to bottom, rgb(84, 151, 251) 0%, rgb(28, 45, 174) 100%);
	border: solid thin #707070;
	border-radius: 3px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	color: white;
	padding: 0px 4px;
}

kbd,
kbd * {
	font-family: "Consolas", "Courier New", monospace;
}

kbd.active {
	background: radial-gradient(
			50% 50% at bottom center,
			rgb(0, 255, 234) 0%,
			rgba(28, 45, 174, 0) 100%
		),
		linear-gradient(to bottom, rgb(84, 223, 251) 0%, rgb(0, 98, 255) 100%);
	box-shadow: inset 0px 0px 0px 1px #ffffffe8;
}

.error {
	box-sizing: border-box;
	padding: 12px;
}

.error h1:first-child {
	margin-top: 0;
}

.error ol {
	padding: 20px;
	padding-top: 0;
	width: calc(100% - 12px);
}

.meta > .windows-logo {
	width: 6pt;
	height: 6pt;
	fill: white;
}

input {
	border-bottom: solid thin #cbdaec;
	border-right: solid thin #c0cfe2;
	border-top: solid thin #abbbd0;
	border-left: solid thin #c2d0e4;
	border-radius: 3px;
	outline: none;
	font-family: "Segoe UI";
	font-size: 12px;
	padding: 2px 4px;
}

input:hover {
	border-top: solid thin #5d98c2;
	border-left: solid thin #b2d3e8;
	border-right: solid thin #b2d3e8;
	border-bottom: solid thin #c7e2f1;
}

input:focus {
	border-top: solid thin #4380b0;
	border-left: solid thin #9ac3de;
	border-right: solid thin #9ac3de;
	border-bottom: solid thin #b7d9ed;
}

input::placeholder {
	font-style: italic;
}
