.notificationContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notification {
	width: calc(100vw - 4px);
	height: calc(100vh - 4px);
	background: linear-gradient(
		180deg,
		rgba(146, 185, 233, 0.7) 0%,
		rgba(217, 235, 255, 0.7) 22%,
		rgba(217, 235, 255, 0.7) 72%,
		rgba(146, 185, 233, 0.7) 100%
	);
	z-index: 1;
	opacity: 1;
	box-shadow:
		inset 0px 0px 0px 1px var(--aero-white),
		0px 0px 15px 0px #00000067,
		0px 0px 0px 1px #00000067;
	border-bottom: solid thin #00ffff7c;
	border-right: solid thin #00ffff7c;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	box-shadow:
		0px 0px 0px 1px #0000006d,
		inset 0px 0px 0px 1px #ffffffcc;
}

.notification.show {
	animation: entry 1.25s steps(10, end);
	visibility: visible;
}

.notification.hide {
	animation: exit 1.25s steps(10, end);
	visibility: visible;
}

.pseudoTitlebar {
	display: flex;
	padding: 8px;
	align-items: center;
}

.notificationTitle {
	margin-left: 4px;
}

.notificationIcon {
	width: 16px;
	margin-right: 2px;
	box-shadow:
		0px 0px 0px 1px #0000006d,
		inset 0px 0px 0px 1px #ffffffcc;
	border-radius: 2px;
}

.notificationClose {
	background-image: url("../assets/wlm/icons/close/close.png");
	width: 12px;
	height: 12px;
	filter: brightness(0.7);
	margin-left: auto;
	margin-right: 4px;
}

.notificationClose:hover {
	filter: brightness(1);
	background-image: url("../assets/wlm/icons/close/close-hover.png");
}

.notificationContentContainer {
	margin-left: auto;
	margin-right: auto;
	height: calc(100% - 60px);
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 12px;
}

.notificationContent {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-wrap;
	text-align: center;
}
